{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">

    <!-- column 1 -->
    <div class="col-sm-6">
      <h3 style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 50px; font-weight: bold;">Welcome</h3>

      <p style="font-family: Arial, Helvetica, sans-serif; font-size: 18px;">Here at Ian's Pest Control our well educated 
        professionals are here to help serve and protect your home from those nasty critters. We are fully trained on the best products 
        in the industry to ensure top quality. Here at Ian's Pest Control we GUARANTEE to eliminate your pest problem!</p>
      <p style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; text-align: center;">Contact us for a free quote today! </p>
    </div>
    <div class="col-sm-6">

      <!-- column 2 -->

      <h3 style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 50px; font-weight: bold;">News</h3>

    
      <p style="font-family: Arial, Helvetica, sans-serif; font-size: 18px;">February 28, 2022: With spring right around the corner it is time to start
      thinking about reducing those dirty pests from your home or business. Contact us today for a free quote. We will be offering spring specials
      to help keep your home protected.</p>

    
      <p style="font-family: Arial, Helvetica, sans-serif; font-size: 18px;">March 14, 2022: We are now expanding to also eliminate bed bugs. We value the health and safety of our customers, so as of today we will begin exterminating bed bugs.</p>
      <img src="{{url_for('static',filename='bedbug.jpeg')}}" class="rounded mx-auto d-block" alt="" width="300" height="200">
    </div>
  </div>
</div>
{% endblock %}